body {;
    height: 100%;
    background: -webkit-linear-gradient(45deg, rgb(220, 161, 255) 0%, rgb(214, 219, 255) 33%, rgb(252, 229, 247) 66%, rgb(255, 179, 179) 100%) no-repeat fixed;
}

::-webkit-scrollbar {
    display:none;
}

.hashtag {
    font-weight: bold;
    color: rgb(0, 110, 255);
}

.floatObj {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.post_list {
    margin-top: 10px;
    border-radius: 4px;
    max-width: 700px;
}

.test:after {
    content: '\2807';
    font-size: 1.5em;
    color: #2e2e2e
}